@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color-light: #000; /* Default foreground color for light mode */
  --background-color-light: #ffffff; /* Default background color for light mode */
  --background-color-dark: #333; /* Default background color for dark mode */
  --foreground-color-dark: #fff; /* Foreground color for dark mode */
}

body {
  color: var(--foreground-color-light);
  background-color: var(--background-color-light); /* Set the background color to light by default */
}

.dark-mode body {
  color: var(--foreground-color-dark);
  background-color: var(--background-color-dark); /* Change the background color to dark in dark mode */
}

input, textarea {
  color: var(--foreground-color-light);
}

.dark-mode input, .dark-mode textarea {
  color: var(--foreground-color-light);
}

@media (min-width: 800px) {
  .min-max-width {
    max-width: 768px;
    min-width: 768px;
  }
  .margin-change {
    margin: auto;
  }
}